@import "../../../../packages/shared-ui/styles/globals.css";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
@source "../../src";
@source "../../../../packages/shared-ui/components";

@font-face {
  font-family: "Geomanist";
  src: url("/fonts/Geomanist-Thin.otf") format("opentype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Geomanist";
  src: url("/fonts/Geomanist-Light.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Geomanist";
  src: url("/fonts/Geomanist-Book.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Geomanist";
  src: url("/fonts/Geomanist-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Geomanist";
  src: url("/fonts/Geomanist-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Geomanist";
  src: url("/fonts/Geomanist-Black.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Geomanist";
  src: url("/fonts/Geomanist-Ultra.otf") format("opentype");
  font-weight: 950;
  font-display: swap;
}

@font-face {
  font-family: "San de More";
  src: url("/fonts/SANDEMORE-REGULAR.OTF") format("opentype");
  font-weight: 400;
  font-display: swap;
}

html,
body {
  overflow-x: clip;
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
}

/* body {
  font-family: "Geomanist", system-ui, sans-serif;
} */

body {
  font-family: "San de More", serif;
}